@model IEnumerable<Vidly.Models.Customer>
@*
    Note: I've set the model for this view to IEnumerable<Customer>.
    This is a simple interface implemented by the list class. Since
    in this view we only want to iterate over this list, and we don't
    need any of the operations in the List class (eg Add, Remove, etc),
    it's better to use the IEnumerable interface, which allows use to
    iterate over the list. If in the future, we replace the List with a
    different data structure, as long as it is enumerable, our view code
    will remain unchanged.
*@

@{ ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2>Customers</h2>
@*<button class="btn-group">@Html.ActionLink("CREATE", "New", "Customers")</button> *@

<hr />
<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
            <th>Delete</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
       

    </tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
           var table =  $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc:""
                },
                columns: [
                    {
                        data: "Name",
                        render: function (data, type, customer) {
                            return "<a href='/customers/edit/" + customer.Id + "'>" + customer.Name + "</a";
                        }
                    },
                    {
                        data: "MembershipType.Name"
                    },
                    {
                        data: "Id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-customer-id=" + data + ">Delete</button>";
                        }
                    },
                    {
                        data: "Id",
                        render: function (data,type, customer) {
                            return "<button class='btn-link js-details btn btn-outline-info' data-customer-id=" + data + ">" + customer.Name + " Details </button>";
                        }
                    }
                ]
            });

            $("#customers").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("<div style='color:red;'><h6>want to delete or not ?</h6></div>", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                               button.parents("tr").remove();  
                            }
                        });
                    }
                });
            });

            $("#customers").on("click", ".js-details", function () {
                var button = $(this);
                // document.location.replace = 'https://localhost:44357/Customers/Details/' + button.attr("data-customer-id");
                // Redirect to details page in new window
                window.open("/Customers/Details/" + button.attr("data-customer-id"), '_blank');
            });
        });

    </script>
}
