@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Moview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movie Views</h2>
<br />
<div class="btn btn-warning">
    @Html.ActionLink("NEW MOVIE", "New", "Movies")
</div>
<br />
<br />

<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movies Name</th>
            <th>Genre Name</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, movie) {
                            return "<a href='/movies/edit/" + movie.id + "'>" + movie.name + "</a";
                        }
                    },
                    {
                        data: "genre.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-movie-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#movies").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Do you want to delete ? ", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/movies/" + button.attr("data-movie-id"),
                            method: "DELETE",
                            success: function () {

                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}