@model Vidly.Models.Customer

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>@Model.Name</h1>
<br />
<h6>Date Of Birth : @Model.Birthdate</h6>
<br />
<h6>Is suscribed to news letter : @Model.IsSuscribedToNewsLetter</h6>

@*<h2>Membership Type = @Model.MembershipType.Name</h2>  *@